<div ng-class="['form-group has-feedback',  successOrError().has]" ng-form="{{fsFieldMetadata.id + 'Form'}}">
    <label for="{{ fsFieldMetadata.id }}"
           class="col-sm-4 control-label">{{ fsFieldMetadata.label }} *</label>

    <div class=" col-sm-8">

        <div class="input-group">

            <input type="text"
                   class="form-control"
                   id="{{ fsFieldMetadata.id }}"
                   name="{{ fsFieldMetadata.id }}"
                   uib-datepicker-popup="{{dateOptions.format}}"
                   ng-model="fsModel"
                   is-open="dateOptions.opened"
                   min-date="dateOptions.minDate"
                   max-date="dateOptions.maxDate"
                   datepicker-options="dateOptions.dateOptions"
                   date-disabled="dateOptions.disabled(date, mode)"
                   show-weeks="dateOptions.showWeeks"
                   close-text="Close"
                   ng-disabled="setToReadOnly"
                   placeholder="mm/dd/yyyy"
                   aria-describedby="{{ fsFieldMetadata.help }}"
                   ng-pattern="fsFieldMetadata.pattern"
                   ng-required="requiredByAll"/>

                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default datepicker"
                                ng-disabled="setToReadOnly"
                                ng-click="dateOptions.open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>

        </div>

        <span id="{{ fsFieldMetadata.help }}"
              class="help-block animate-hide"
              ng-hide="isValid()">
                {{ fsFieldMetadata.errMsg }}
        </span>

    </div>
</div>