<div ng-class="['form-group has-feedback',  hasSuccessOrError(screenMetaData.forms.basicdata, screenMetaData.maturityDate.id).has]" ng-form="">
    <label for="{{ screenMetaData.maturityDate.id }}"
           class="col-sm-4 control-label">{{ screenMetaData.maturityDate.label }} *</label>

    <div class=" col-sm-8">

        <div class="input-group">

            <input type="text"
                   class="form-control"
                   id="{{ screenMetaData.maturityDate.id }}"
                   name="{{ screenMetaData.maturityDate.id }}"
                   uib-datepicker-popup="{{maturityDate.format}}"
                   ng-model="model.basicdata.maturityDate"
                   is-open="maturityDate.opened"
                   min-date="maturityDate.minDate"
                   max-date="maturityDate.maxDate"
                   datepicker-options="maturityDate.dateOptions"
                   date-disabled="maturityDate.disabled(date, mode)"
                   show-weeks="maturityDate.showWeeks"
                   close-text="Close"
                   ng-disabled="setToReadOnly"
                   placeholder="mm/dd/yyyy"
                   aria-describedby="{{ screenMetaData.maturityDate.help }}"
                   ng-pattern="screenMetaData.maturityDate.pattern"
                   ng-required="requiredByAll"/>

                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default datepicker"
                                ng-disabled="setToReadOnly"
                                ng-click="maturityDate.open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>

        </div>

        <span id="{{ screenMetaData.maturityDate.help }}"
              class="help-block animate-hide"
              ng-hide="isValid(screenMetaData.forms.basicdata, screenMetaData.maturityDate.id)">
                {{ screenMetaData.maturityDate.errMsg }}
        </span>

    </div>
</div>